{
  "parser": "babel-eslint",
  "rules": {
    "accessor-pairs": "warn",
    "array-bracket-spacing": ["warn", "never"],
    "array-callback-return": "error",
    "arrow-body-style": ["off", "as-needed"],
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": "error",
    "block-scoped-var": "warn",
    "block-spacing": ["error", "always"],
    "brace-style": ["warn", "1tbs"],
    "callback-return": "off",
    "camelcase": ["off", { "properties": "never" }],
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "complexity": ["warn", 10],
    "computed-property-spacing": "error",
    "consistent-return": "off",
    "consistent-this": ["error", "self"],
    "constructor-super": "error",
    "curly": ["error", "multi-line"],
    "default-case": "off",
    "dot-location": ["error", "property"],
    "dot-notation": "warn",
    "eol-last": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "func-call-spacing": "error",
    "func-names": "off",
    "func-style": "off",
    "generator-star-spacing": "warn",
    "global-require": "warn",
    "guard-for-in": "off",
    "handle-callback-err": ["error", "^(?:err|error|.+Err(?:or)?)"],
    "id-blacklist": ["warn"],
    "id-length": "off",
    "id-match": "off",
    "indent": ["error", 2, { "MemberExpression": 1, "SwitchCase": 1 }],
    "init-declarations": "off",
    "jsx-quotes": ["warn", "prefer-single"],
    "key-spacing": ["warn", { "mode": "minimum" }],
    "keyword-spacing": "error",
    "line-comment-position": "off",
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": "off",
    "lines-around-directive": ["error", { "before": "never", "after": "always" }],
    "max-depth": ["warn", 4],
    "max-lines": "off",
    "max-len": ["warn", 160, 4, { "ignoreTrailingComments": true, "ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true, "ignorePattern": "^import\\s" }],
    "max-nested-callbacks": ["warn", 6],
    "max-params": ["warn", 4],
    "max-statements": "off",
    "max-statements-per-line": ["error", { "max": 2 }],
    "new-cap": "off",
    "new-parens": "error",
    "newline-after-var": "off",
    "newline-before-return": "off",
    "newline-per-chained-call": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-bitwise": "warn",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-catch-shadow": "off",
    "no-class-assign": "error",
    "no-cond-assign": "error",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-continue": "off",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "off",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "off",
    "no-else-return": "warn",
    "no-empty": ["warn", { "allowEmptyCatch": true }],
    "no-empty-character-class": "error",
    "no-empty-function": ["warn", { "allow": ["arrowFunctions" ] }],
    "no-empty-pattern": "error",
    "no-eq-null": "off",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-label": "warn",
    "no-extra-parens": "off",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "warn",
    "no-func-assign": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "warn",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-invalid-this": "off",
    "no-irregular-whitespace": ["error", { "skipComments": true, "skipTemplates": true }],
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-lonely-if": "error",
    "no-loop-func": "warn",
    "no-magic-numbers": ["off", { "ignore": [-1, 0, 1, 2], "enforceConst": false, "detectObjects": true }],
    "no-mixed-operators": "error",
    "no-mixed-requires": "warn",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": ["warn", { "exceptions": { "IfStatement": true, "Property": true, "SwitchCase": true, "VariableDeclarator": true } }],
    "no-multi-str": "error",
    "no-multiple-empty-lines": "off",
    "no-native-reassign": "error",
    "no-negated-condition": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-symbol": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "off",
    "no-path-concat": "warn",
    "no-plusplus": "off",
    "no-process-env": "error",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-prototype-builtins": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-restricted-globals": ["error", "back", "blur", "caches", "close", "closed", "confirm", "content", "context", "controllers", "defaultStatus", "directories", "error", "event", "find", "focus", "forward", "fullScreen", "history", "home", "length", "location", "minimize", "moveBy", "moveTo", "menubar", "name", "navigator", "open", "opener", "orientation", "parent", "performance", "print", "prompt", "restore", "returnValue", "screen", "scroll", "scrollbars", "self", "sidebar", "status", "statusbar", "stop", "toolbar", "top", "Text"],
    "no-restricted-imports": "off",
    "no-restricted-modules": "off",
    "no-restricted-properties": "off",
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-return-assign": ["off", "except-parens"],
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "off",
    "no-shadow": "warn",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-sync": "error",
    "no-tabs": "error",
    "no-template-curly-in-string": "error",
    "no-ternary": "off",
    "no-this-before-super": "error",
    "no-throw-literal": "off",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "no-unused-expressions": ["warn", { "allowTernary": true, "allowShortCircuit": true }],
    "no-unused-labels": "error",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_|^next$", "varsIgnorePattern": "^_" }],
    "no-use-before-define": ["off", { "functions": false, "classes": false }],
    "no-useless-call": "error",
    "no-useless-computed-key": "off",
    "no-useless-concat": "warn",
    "no-useless-constructor": "error",
    "no-useless-escape": "warn",
    "no-useless-rename": "warn",
    "no-var": "error",
    "no-void": "error",
    "no-warning-comments": "off",
    "no-whitespace-before-property": "error",
    "no-with": "error",
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": "warn",
    "object-shorthand": ["warn", "always"],
    "one-var": "off",
    "one-var-declaration-per-line": "warn",
    "operator-assignment": ["warn", "always"],
    "operator-linebreak": ["warn", "after"],
    "padded-blocks": "off",
    "prefer-arrow-callback": "off",
    "prefer-const": ["error", { "destructuring": "all" }],
    "prefer-numeric-literals": "warn",
    "prefer-reflect": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "error",
    "prefer-template": "warn",
    "quote-props": "off",
    "quotes": ["warn", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "radix": ["warn", "as-needed"],
    "require-jsdoc": "off",
    "require-yield": "error",
    "rest-spread-spacing": "error",
    "semi": ["error", "never"],
    "semi-spacing": "error",
    "sort-imports": "off",
    "sort-keys": "off",
    "sort-vars": "off",
    "space-before-blocks": ["error"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error"],
    "space-unary-ops": "error",
    "spaced-comment": ["warn", "always"],
    "strict": "error",
    "symbol-description": "warn",
    "template-curly-spacing": "error",
    "unicode-bom": ["error", "never"],
    "use-isnan": "error",
    "valid-jsdoc": "warn",
    "valid-typeof": "error",
    "vars-on-top": "off",
    "wrap-iife": ["error", "outside"],
    "wrap-regex": "off",
    "yield-star-spacing": "warn",
    "yoda": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  }
}